
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000cf;
}


.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #00000094;;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}


header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    color: white;
}


section {
    margin-bottom: 30px;
}

section h2 {
    color:#ff0000c9;
    border-bottom: 2px solid #ff0000c9;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.question, .answer {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.question h3, .answer h3 {
    margin: 0 0 10px;
}

.question p, .answer p {
    margin: 10px 0;
}

.meta {
    font-size: 16px;
    color: #777;
    font-weight: 600;
}

.btn {
    background-color: #fff;
    color: red;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    transition: 0.3s ease;
    position: absolute;
    right: 10rem;
    top: 4rem;
}

.btn a {
    text-decoration: none;
    color: inherit;
}

.btn:hover {
    background-color: red;
    color: white;
    scale: 1.2;
    transition: 0.2s ease;
}
