<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Question</title>
    <link rel="stylesheet" href="/question.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="box">
        <h1>Ask your Doubt</h1>
    </div>
    <iframe class="ani" src="https://lottie.host/embed/5ac2527f-466f-4210-962a-6e6a67f9815f/wmvQ9VoQNI.json"></iframe>
    <div class="container">
        <form class="form" action="/question" method="post">
            <h1>Question:</h1>
            <a href="/dashboard"><i class="fa-solid fa-arrow-left back"></i></a>
            <input class="form-input" type="text" name="title" placeholder="Title" required>
            <textarea class="form-textarea" name="description" rows="5" placeholder="Your question" required></textarea>
            <input class="submit-btn" type="submit" value="Post">
        </form>
    </div>
</body>
</html>
